/hand.0.npy
/hand.1.npy
/hand.2.npy
/hand.3.npy
/hand.4.npy
/hand.5.npy
/hand.6.npy
/hand.7.npy
/hand.8.npy
/hand.9.npy
/hand.holdout.npy
/overlap.0.npy
/overlap.1.npy
/overlap.2.npy
/overlap.3.npy
/overlap.4.npy
/overlap.5.npy
/overlap.6.npy
/overlap.7.npy
/overlap.8.npy
/overlap.9.npy
/overlap.holdout.npy
/polarity.0.npy
/polarity.1.npy
/polarity.2.npy
/polarity.3.npy
/polarity.4.npy
/polarity.5.npy
/polarity.6.npy
/polarity.7.npy
/polarity.8.npy
/polarity.9.npy
/polarity.holdout.npy
/refuting.0.npy
/refuting.1.npy
/refuting.2.npy
/refuting.3.npy
/refuting.4.npy
/refuting.5.npy
/refuting.6.npy
/refuting.7.npy
/refuting.8.npy
/refuting.9.npy
/refuting.holdout.npy
